/* CSS Document */
h1 {
	text-align: center;
	font-size: 3em;
}
body {
	text-align: center;
	background-image: url("HotDogWallpaper2.webp");
	font-size: 2em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.heading {
	font-size: 1.5em;
	text-decoration-line: underline;
	text-decoration-style: double;
	font-weight: bold;
}